ul{/*container with header links*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

a {/*header links as individuals, children of ul*/
    text-decoration: none;
    font-size: 15px;
    color: #f9faf8;
    font-weight: normal;
}

.header{ /*Header Logo text and links*/
    font-size: 25px;
    font-weight: bold;
    background-color: #1F2937;
    color: #f9faf8;
    font-family: Roboto, Oxygen, Ubuntu, 'Open Sans';
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}